<!DOCTYPE HTML>
<html lang="en-us">
<head>
 <meta http-equiv=Content-Type content="text/html; charset=utf-8">
<title>后台管理</title>
	<link href="/app/static/style/ucenter.css" rel="stylesheet" type="text/css">
	<link href="/app/static/style/tabs.css" rel="stylesheet" type="text/css">	
	<link href="/app/static/assets/raphaelicons.css" rel="stylesheet" type="text/css">
	<script src="/app/static/js/prefixfree.min.js" type="text/javascript"></script>
	<script src="/app/static/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<div id="top">
	<ul>
		<li><a href="http://www.uandc.cn">首页</a></li>
		<li><a href="http://www.uandc.cn/index.php/ucenter/uhome/">文章管理</a></li>
		<li><a href="/?m=Home&c=topic&a=run">低声细语</a></li> 
		<li><a href="/?m=Ask&c=index&a=run"></a></li> 
		<li><a href="http://www.uandc.cn/index.php/ucenter/uhome/addart">写文章</a></li>
		<li>推荐</li> 
		<li>足迹</li> 
	</ul>
	<form method="post" action="<{$data['searchUrl']}>">
		<div class="search">
			<input type="text" id="keyword" name="search" />
		</div>
		<button class="searchbtn" type="submit"><span class="icon">z</span></button>
	
		
	</form>
	
</div>
