<div class="l_menu">
	<ul>
		<a href="javascript:;" id="show-nav">
			<li><span class="icon">Ì</span></li>
		</a>
		<!--a href="javascript:;" id="show-tag">
			<li><span class="icon">I</span></li>
		</a-->
		<a href="<{$data['baseUrl']}>/ucenter/uhome/index"><li><span class="icon">S</span></li></a>
		
		<a href="<{$data['baseUrl']}>/ucenter/uhome/addart"><li><span class="icon">?</span></li></a>
		<a href="#"><li><span class="icon">1</span></li></a>
		<a href="#"><li><span class="icon">M</span></li></a>
		<a href="#"><li><span class="icon">Û</span></li></a>
		<a href="<{$data['baseUrl']}>/ucenter/index/login"><li><span class="icon">L</span></li></a>
	</ul>
</div>
