<div class="l_menu">
	<ul>
        <a href="http://www.uandc.cn" class="left-opt">
            <li><span class="icon">S</span></li>
        </a>
		<a href="javascript:;" id="show-nav" class="left-opt">
			<li><span class="icon">Ì</span></li>
		</a>
		<a href="javascript:;" id="side-tag" class="left-opt">
            <li><span class="icon">y</span></li>
        </a>
        <a href="javascript:;" id="side-weibo" class="left-opt" >
            <li><span class="icon">?</span></li>
        </a>
		<a href="javascript:;" id="side-image" class="left-opt">
            <li><span class="icon">N</span></li>
        </a>
        <a href="javascript:;" id="side-link" class="left-opt">
            <li><span class="icon">È</span></li>
        </a>
		<a href="#">
            <li><span class="icon">Û</span></li>
        </a>
		<a href="<{$data['baseUrl']}>/ucenter/index/login">
            <li><span class="icon">L</span></li>
        </a>
	</ul>
</div>
