<div class="l_menu">
	<ul>
		<a href="<{$data['urls']['uhome']}>" target="main">
			<li><span class="icon">S</span></li>
		</a>
		<a href="<{$data['urls']['addArt']}>" target="main"><li><span class="icon">?</span></li></a>
		<a href="#"><li><span class="icon">1</span></li></a>
		<a href="#"><li><span class="icon">M</span></li></a>
		<a href="#"><li><span class="icon">Ü</span></li></a>
		<a href="#"><li><span class="icon">R</span></li></a>
		<a href="#"><li><span class="icon">+</span></li></a>
		<a href="#"><li><span class="icon">\</span></li></a>
	</ul>
</div>