<!DOCTYPE HTML>
<html lang="en-us">
<head>
 <meta http-equiv=Content-Type content="text/html; charset=utf-8">
<title>后台管理</title>
	<link href="<{$data['basePath']}>/static/style/common.css" rel="stylesheet" type="text/css">
	<link href="<{$data['basePath']}>/static/style/Ucenter.css" rel="stylesheet" type="text/css">	
	<link href="<{$data['basePath']}>/static/style/tabs.css" rel="stylesheet" type="text/css">	
	<link href="<{$data['basePath']}>/static/assets/raphaelicons.css" rel="stylesheet" type="text/css">
	<script src="<{$data['basePath']}>/static/js/jquery.js" type="text/javascript"></script>
	<script src="<{$data['basePath']}>/static/js/prefixfree.min.js" type="text/javascript"></script>
	<style>
	.sidebar table{
		width:80%;
		border:1px solid #faa;
	}
	 table td{
		padding:10px 10px 0 0;
	 }
	table a{
		display:block;
	}
	table a:hover{
		color:#fff;
		background:#faa;
	 }
	.sidebar-u{
		left:50px;
		width:200px;
	}
</style>
</head>
<body>

<{include "Common/umenu.html"}>
<div class="sidebar-u">
	<table>
	 <tr><td><a href="javascript:;">文章</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	 <tr><td><a href="javascript:;">微博</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	 <tr><td><a href="javascript:;">最新评论</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	 <tr><td><a href="javascript:;">最近留言</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	 <tr><td><a href="javascript:;">点赞</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	 <tr><td><a href="javascript:;">反对</a></td> <td><a href="javascript:;" >(10)</a></td></tr>
	</table>
</div>
</body>
</html>