<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv=Content-Type content="text/html; charset=utf-8">
<title>后台管理</title>
<link rel="stylesheet" type="text/css" href="<{$data['basePath']}>/static/plugin/wmd/wmd.css" />
<script type="text/javascript" src="<{$data['basePath']}>/static/js/jquery.js"></script>	
<script type="text/javascript" src="<{$data['basePath']}>/static/plugin/wmd/showdown.js"></script>
</head>
<body>
<h1><a href="javascript:;" onclick="openw()">open</h1>

<form action="/uandc/index.php/ucenter/uhome/imgupload" method="post" enctype="multipart/form-data">
	<input type="file" name="upload_file" />
	<input type="submit" value="submit" />


</form>

