
.*{
margin:0;
padding:0;
}
span,span1{
	padding:5px;
}
a{
	color:#1979CA;
}
a,a:hover{
	text-decoration:none;
}
a:hover{
	color:#b2b2b2;
}
form{
	display:inline;
}
/*圆角边框border-radius:像素*/
.l_menu{
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 20px;
	height: 100%;
	width:55px;
	color:#56D5FA;
	
}
/*background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
filter:Alpha(opacity=80); background:#fff;/*实现IE背景透明
.con p{ position:relative;}/*实现IE文字不透明*/
.l_menu ul{
	list-style:none;
	display:inline;
}
.l_menu ul li{
	float:left;
	margin-left:0;
	padding:10px;
	font-size:30px;
	z-index:100;
	list-style:none;
	text-align:center;
}
.l_menu ul a{
	text-decoration:none;
	width:60px;
	height:60px;
	color:#1979CA;
}
.l_menu ul li a:hover{
	float:left;
	margin-left:0;
	width:60px;
	height:60px;
	background:#faa;
	z-index:100;
	border:1px solid #999;
	display:block;
	list-style:none;
	text-align:center;
}


.sidebar{
	position:fixed;
	left:55px;
	top:0px;
	width:320px;
    padding-right: 10px;
	height:100%;
	color:#000;
	
	overflow:hidden;
}
.sidebar section{
	float:left;
	width:100%;
	margin:10px 0 0 5%;
	overflow:hidden;
	
}
.signx .usericon img{
	width:40px;
	height:40px;
	border-radius:50%;
}
.searchbar{
	font-size:12px;
	padding:5px;
	line-height:16px;
}
.sidebar{
	background:url(/app/static/images/site/2.jpg) no-repeat;
}
.sidebar .side-info{
	padding:10px 0px 10px 0px;
	width:100%;
	height:100%;
	color:#999;
	background-color:#222;
	background-color:rgba(0, 0, 0, 0.1);
}
.sidebar .active{
    display:block;
}
.side-info #side-tag{
	display:none;
}
.sidebar .side-default{
    display:none;
}
.side-info #side-nav{
	display:block;
}
.side-info .side-weibo{
    width: 310px;
    height: 667px;
}
.side-info .im-login{
    width:100%;
    border:1px solid #faa;
    height:300px;
    margin:auto 0;
    background:#fff;
    text-align: center;
}
.im-login p{
    margin-top:10px;
    display: block;
}
.im-login p label{
    margin-left:20px;
}
.im-login p input{
    width:200px;
    line-height:24px;
}

.im-login button{
    padding:5px 10px 5px 10px;
}
.side-info .im-register{
    width:100%;
    border:1px solid #faa;
    height:300px;
    margin:auto 0;
    background:#fff;
    text-align: center;
    display: none;
}
.side-info p{
	width:100%;
	line-height:22px;
	font-size:12px;
	overflow:hidden;
}

.side-info .im-chatroom{
    width: 100%;
    height: 100%;
    border:1px solid #0099CC;
}

.hide{
    display: none;
}

.im-chatroom .im-msgbox{
    background: rgba(184,224,34, 0.3);
    width: 310px;
    height:70%;
    border:1px solid #faa;
    padding: 0px 5px 10px 5px;
    overflow-y:scroll;
    overflow-x: visible;
}

.im-msgbox  p{
    margin-top: 20px;
    padding:5px;
    line-height: 14px;
    width: 95%;
}
.im-msgbox  p .im-user{
    padd-right:5px;
    color: #0ca3d2;
    cursor: pointer;
}
.im-msgbox  p .im-content{
    margin-top: 10px;
    border:1px solid #74d2d9;
    border-radius: 5px;
    color:#222;
    background: #fff;
    display: inline-block;
}

.im-chatroom .send{
    padding: 0;
    color: #111;
}

.im-chatroom .user-list{
    width: 100%;
    display: none;
}
.user-list .top{
    width: 100%;
    height:20px;
    border: 1px solid#74d2d9;
    text-align: center;
    color: #000088;
    cursor: pointer;
}

.user-list ul{
    list-style: none;
}
.user-list ul li{
    display: inline-block;
    height: 80px;
    line-height: 50px;
}
.user-list ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.send .im-menu{
    display: inline;
    height: 24px;
    border-left: 1px solid#219EE2;
    cursor: pointer;
}
.send .sendbox{
    margin-left: 5px;
    width: 310px;
    border:1px solid #0099CC;
    line-height: 28px;
}
.send .send-btn{
    margin: 0px auto;
    background: #A9E4E9;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid#219EE2;
    border-radius: 50%;
    cursor: pointer;
}
.send-btn :hover{
   background: rgba(132,151,66,0.5);
}
#show-leftbar{
	font-size:32px;
}

.side-info a{display:block;}
.side-info .tag a:hover{
	font-size:13px;
	background:#faa;
}
.side-info .cate-art{
	float:left;
	/* margin: 0 1px 1px 0; */
	width:95px;
	height:95px;
	line-height:85px;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.5);
	padding:5px;
}
.cate-art a{
	color:#fff;
}
.cate-art a:hover{
	color:#fff;
	border-bottom:3px solid #fff;
}
.cate-art  section{
	padding:0;
	font-size:32px;
	line-height:85px;
}
.side-info.sch{
	float:left;
	margin-bottom:40px;
	width:320px;
}
.sch input{
	float:left;
	width:220px;
	height:32px;
	line-height:24px;
}

.sch .sch-icon{
	float:left;
	margin-left:30px;
	margin-bottom:40px;
	padding:2px;
	width:30px;
	height:32px;
	font-size:32px;
	border:0px;
	border-radius:5px;
	color:#56D5FA;
	background:#fff;
	
}

.crab-show{
	position:absolute;
	top:20px;
	width:70%;
	height:1px;
	border-bottom:1px solid #56D5FA;
	left:380px;
	background:#fff;
	overflow:hidden
}
.crab-desc{
	width:100%;
	height:100%;
	text-align:center;
	font-size:28px;
	font-weight:18px;
	
}
.crab-show .crab-logo{
	margin-left:40%;
	margin-bottom:10px;
	height:110px;
	width:150px;
	background:url(/app/static/images/site/2b.jpg) no-repeat; 
}
.crab-show .crab-sb{
	float:left;
	margin-left:10px;
	height:170px;
	width:200px;
	/* background:url(/app/static/images/site/lufy.png) no-repeat; */
}
.crab-show .crab-silence{
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	height:170px;
	width:180px;
	/* background:url(/app/static/images/site/cat.png) no-repeat; */
}

.contentw{
	float:left;
	margin-top:20px;
	margin-left:380px;
	width:62%;
	overflow:hidden
}
 section span2{
	float:left;
	width:100%;
	line-height:28px;
	font-size:18px;
}
section p{
	width:100%;
	margin:0;
	line-height:20px;
	font-size:14px;
}
section p a{
	color:#fff;
	filter:alpha(Opacity=0);-moz-opacity:0;opacity: 0;
	margin:0px;
	display:block;
	padding:5px 10px 0 20px;
}
section p a:hover{
	filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
	color:#222;
	background:#faa;
}
.sidebar .userinfo{
	float:left;
	margin-left:10%;
	width:80%;
	height:400px;
	border:1px solid #cbcbcb;
	overflow:hidden;
	
}
.content-s{
	float:left;
	margin-top:63px;
	margin-left:380px;
	width:62%;
	overflow:hidden
}
.footer{	
	float:left;
	width:62%;
	margin-top:20px;
	margin-left:380px;
	height:80px;
	text-align:center;
	color:#b2b2b2;
	display:block;
	overflow:hidden
}

.clear{
    clear: both;
}

