<div class="im-chatroom">
    <div class="im-msgbox">
        <div class="clear"></div>
        <div class="msg-list">
            <p>
                <span class="im-user">螃蟹在晨跑</span>
                <span class="im-content">欢迎来到螃蟹的城堡</span>
            </p>
        </div>
    </div>
    <div class="user-list">
        <div class="top backtochat">返回</div>
        <ul>

        </ul>
    </div>
    <div class="send">
        <p>
            <span class="im-menu ol-list">在线用户</span>
            <span class="im-menu">表情</span>
                    <span>
                        <select name="select-user">
                            <option value="0">所有人</option>
                        </select>
                    </span>
            <span class="im-menu" id="offline">下线</span>
        </p>
        <p>
            <input type="text" name="send" class="sendbox" />
            <input type="hidden" name="islogin" value="0" />

        </p>
        <div  class="send-btn"> send</div>
    </div>
</div>