<div class="im-login im-default" >
    <p><label>username&nbsp;</label><input type="text" name="username" placeholder="your username" /></p>
    <p><label>password&nbsp;</label>
        <input type="password" name="password" placeholder="your password"/>
    </p>
    <p><button id="do-login">sign in</button></p>
    <p><label>no account yet ？</label><a href="javascript:;" id="register" >sing up</a></p>
</div>
<div class="im-login im-register">
    <p>
        <label>用户名&nbsp;</label>
        <input type="text" name="username" id="reg-username" placeholder="your username" />
    </p>
    <p><label>密码&nbsp;&nbsp;&nbsp;</label>
        <input type="password" name="password" id="reg-pwd" placeholder="your password"/>
    </p>
    <p><button type="submit" id="do-register">注册</button></p>
</div>