<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	  <meta name="description" content="螃蟹 螃蟹在晨跑 个人博客">
	  <meta content="螃蟹在晨跑 PHP 个人网站" name="keywords" />
	<title>螃蟹在晨跑</title>
	<link href="<{$data['basePath']}>/app/static/assets/raphaelicons.css" rel="stylesheet">
	<link href="<{$data['basePath']}>/app/static/style/Home.css" rel="stylesheet"/>
	<link href="<{$data['basePath']}>/app/static/style/common.css" rel="stylesheet" type="text/css">
	<script src="<{$data['basePath']}>/app/static/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<{include 'Common/lmenu.html'}>
<div class="sidebar">
	<div class="side-info show-nav active">
		<div class="sch">
			<form method="get" action="<{$data['baseUrl']}>/index/index/search" >
				<input type="text" name="search" placeholder="搜索关键字~" required />
				<button class="sch-icon icon">z</button>
			</form>
		</div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/wisper">细声低语</a></div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/ear">耳朵</a></div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/code">编程</a></div>
		<div class="cate-art"><a href="javascript:;">相册</a></div>
		<div class="cate-art"><a href="javascript:;">留言</a></div>
		<div class="cate-art"><a href="javascript:;">时间胶囊</a></div>
		<div class="cate-art"><a href="javascript:;">美文收藏</a></div>
		<div class="cate-art"><a href="javascript:;">连接</a></div>
		<div class="cate-art"><a href="https://github.com/superbogy/uandc"><section class="icon">U</section></a></div>
		<div class="cate-art"><a href="javascript:;"><section class="icon">Ø</section></a></div>
	</div>
	<div class="side-info side-default side-tag">
		<div class="cate-art"><a href="javascript:;">PHP</a></div>
		<div class="cate-art"><a href="javascript:;">MYSQL</a></div>
		<div class="cate-art"><a href="javascript:;">APACHE</a></div>
		<div class="cate-art"><a href="javascript:;">NGINX</a></div>
		<div class="cate-art"><a href="javascript:;">LINUX</a></div>
		<div class="cate-art"><a href="javascript:;">HTML/CSS</a></div>
		<div class="cate-art"><a href="javascript:;">NOSQL</a></div>
		<div class="cate-art"><a href="javascript:;">分词</a></div>
		<div class="cate-art"><a href="javascript:;">消息队列</a></div>
		<div class="cate-art"><a href="javascript:;">git</a></div>
	</div>
    <div class="side-info side-default side-weibo" data-flag="1">
        <iframe width="300" height="600" class="share_self"  frameborder="0" scrolling="no"
                src="http://widget.weibo.com/weiboshow/index.php?language=&width=250&height=800
                &fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=0&isWeibo=1&isFans=0
                &uid=2943006262&verifier=c7fe5644&colors=d6f3f7,ffffff,666666,0082cb,ecfbfd&dpc=1">
        </iframe>
    </div>
    <div class="side-info side-default side-image">
        <{foreach $data['image'] as $key=>$val}>
        <div class="cate-art">
            <a href="javascript:;">
                <img src="http://www.uandc.cn/app<{$val['thumbfile']}>" width="90" height="90" />
            </a>
        </div>
        <{/foreach}>
    </div>
    <div class="side-info side-default side-link">
        <div class="cate-art"><a href="http://leandre.cn/">小牛</a></div>
        <div class="cate-art"><a href="http://blog.csdn.net/initphp">老朱</a></div>
        <div class="cate-art"><a href="http://www.annapatio.com">安娜帕提欧</a></div>
        <div class="cate-art"><a href="javascript:;">木头和兔子</a></div>
        <div class="cate-art"><a href="javascript:;">LINUX</a></div>
        <div class="cate-art"><a href="javascript:;">HTML/CSS</a></div>
        <div class="cate-art"><a href="javascript:;">NOSQL</a></div>
        <div class="cate-art"><a href="javascript:;">分词</a></div>
        <div class="cate-art"><a href="javascript:;">消息队列</a></div>
        <div class="cate-art"><a href="javascript:;">git</a></div>
    </div>
    <div class="side-info side-default side-im">


        
    </div>
</div>

<script type="text/javascript">
	$(function(){
		
		/*$("#show-nav").click(function(){
			if($("#side-nav").is(":visible")){
				$("#side-nav").slideUp('slow');
				var num = Math.ceil(Math.random()*15);
				$('.sidebar').css({background:"url(/app/static/images/site/"+num+".jpg) no-repeat"});
			}else{	
				var num = Math.ceil(Math.random()*15);
				$("#side-nav").slideDown('slow');
				$('.sidebar').css({"background":"url(/app/static/images/site/"+num+".jpg) no-repeat", 
					"-moz-opacity":"0.3","filter":"alpha(opacity=30)"});
			}	
		});*/

        $(".left-opt").click(function(){
            var id = $(this).attr("id");
            var active = $(".side-info").filter(".active");
            active.slideUp();
            active.removeClass("active");
            active.addClass("side-default");
            $("." + id).addClass("active");
            if(id == 'side-weibo') {
                if($("." + id).attr("data-flag") == "0"){
                    $("." + id).attr("data-flag", "1");
                    var url = "/index.php/index/index/weiboshow"
                    $.get(url, function (data) {
                        $("." + id).html(data);
                        $("." + id).slideDown();
                    });
                }else{
                    $("." + id).slideDown();
                }
            }else{
                $("." + id).slideDown();
            }
            var num = Math.ceil(Math.random()*15);
            $('.sidebar').css({background:"url(/app/static/images/site/"+num+".jpg) no-repeat"});
        })
        $('.nav-weibo').click(function(){
           var html = $(".side-weibo").html();
            var url = "/index.php/index/index/weiboshow";
            $.get(url, function(data){
                $('.side-weibo').html(data).show();
            })
        })
	})
	
	
</script>

<div class="crab-show"></div>
<div class="contentw">
	<{foreach $data['artList'] as $info}>
	<div class="context">
		<div class="avatar"><img src="/app/static/images/usericon/crab.jpg"/></div>
		<div class="more_h">
			<span class="icon">F</span><span1><{$info['title']}></span1>
			<span1 style="float:right"> <{$info['create_time']|date_format}></span1><span class="icon" style="float:right">É</span>
		</div>	
		<div class="textwrap">
			<p><{$info['content']|truncate:'800'}>
			<{if !empty($info['from'])}><p>[出自]<span><a href="<{$info['from']}>"><{$info['from']}></a></span></p><{/if}>
			</p>
		
			
		</div>
		<div class="more_f">
			<span class="icon">L</span><span1 ><{$info['author']}></span1>
			<a href="<{$data['baseUrl']}>/index/index/detail/id/<{$info['id']}>"><span class="icon">i</span><span1>阅读全文</span1></a>
			<a href="#"><span class="icon">J</span><span1>点击: <{$info['click_num']}> </span1></a>
			<a href="#"><span class="icon">[</span><span1>评论 (<{$info['comment_num']}>)</span1></a>
			
			<{if isset($info['tags'])}>
			<a href="<{$data['baseUrl']}>/index/index/taglist/tag/<{$info['tags']}>">
				<span class="icon">y</span><span1>标签：</span1>
				<{$info['tags']}>
			</a>
			<{/if}>
		
		</div>
	</div>
	<{/foreach}>
	
</div>
<{if $data['pageCount'] > 1}><div class="pager"><{$data['pageHtml']}></div><{/if}>
<{include 'Common/footer.html'}>
</body>
</html>


