<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	  <meta name="description" content="螃蟹 螃蟹在晨跑 个人博客">
	  <meta content="螃蟹在晨跑 PHP 个人网站" name="keywords" />
	<title>螃蟹在晨跑</title>
	<link href="<{$data['basePath']}>/app/static/assets/raphaelicons.css" rel="stylesheet">
	<link href="<{$data['basePath']}>/app/static/style/Home.css" rel="stylesheet"/>
	<link href="<{$data['basePath']}>/app/static/style/common.css" rel="stylesheet" type="text/css">
	<script src="<{$data['basePath']}>/app/static/js/jquery.js" type="text/javascript"></script>
    <script src="/app/static/js/jquery.json.js"></script>
</head>
<body>
<{include 'Common/lmenu.html'}>
<div class="sidebar">
	<div class="side-info show-nav active">
		<div class="sch">
			<form method="get" action="<{$data['baseUrl']}>/index/index/search" >
				<input type="text" name="search" placeholder="搜索关键字~" required />
				<button class="sch-icon icon">z</button>
			</form>
		</div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/wisper">细声低语</a></div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/ear">耳朵</a></div>
		<div class="cate-art"><a href="<{$data['baseUrl']}>/index/index/index/cate/code">编程</a></div>
		<div class="cate-art"><a href="javascript:;">相册</a></div>
		<div class="cate-art"><a href="javascript:;">留言</a></div>
		<div class="cate-art"><a href="javascript:;">时间胶囊</a></div>
		<div class="cate-art"><a href="javascript:;">美文收藏</a></div>
		<div class="cate-art"><a href="javascript:;">连接</a></div>
		<div class="cate-art"><a href="https://github.com/superbogy/uandc"><section class="icon">U</section></a></div>
		<div class="cate-art"><a href="javascript:;"><section class="icon">Ø</section></a></div>
	</div>
	<div class="side-info side-default side-tag">
		<div class="cate-art"><a href="javascript:;">PHP</a></div>
		<div class="cate-art"><a href="javascript:;">MYSQL</a></div>
		<div class="cate-art"><a href="javascript:;">APACHE</a></div>
		<div class="cate-art"><a href="javascript:;">NGINX</a></div>
		<div class="cate-art"><a href="javascript:;">LINUX</a></div>
		<div class="cate-art"><a href="javascript:;">HTML/CSS</a></div>
		<div class="cate-art"><a href="javascript:;">NOSQL</a></div>
		<div class="cate-art"><a href="javascript:;">分词</a></div>
		<div class="cate-art"><a href="javascript:;">消息队列</a></div>
		<div class="cate-art"><a href="javascript:;">git</a></div>
	</div>
    <div class="side-info side-default side-weibo" data-flag="1">
        <iframe width="300" height="600" class="share_self"  frameborder="0" scrolling="no"
                src="http://widget.weibo.com/weiboshow/index.php?language=&width=250&height=800
                &fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=0&isWeibo=1&isFans=0
                &uid=2943006262&verifier=c7fe5644&colors=d6f3f7,ffffff,666666,0082cb,ecfbfd&dpc=1">
        </iframe>
    </div>
    <div class="side-info side-default side-image">
        <{foreach $data['image'] as $key=>$val}>
        <div class="cate-art">
            <a href="javascript:;">
                <!--<img src="http://www.uandc.cn/app<{$val['thumbfile']}>" width="90" height="90" />-->
            </a>
        </div>
        <{/foreach}>
    </div>
    <div class="side-info side-default side-link">
        <div class="cate-art"><a href="http://leandre.cn/">小牛</a></div>
        <div class="cate-art"><a href="http://blog.csdn.net/initphp">老朱</a></div>
        <div class="cate-art"><a href="http://www.annapatio.com">安娜帕提欧</a></div>
        <div class="cate-art"><a href="javascript:;">木头和兔子</a></div>
        <div class="cate-art"><a href="javascript:;">生活糖果</a></div>
        <div class="cate-art"><a href="javascript:;">luoo</a></div>
        <div class="cate-art"><a href="javascript:;">NOSQL</a></div>
        <div class="cate-art"><a href="javascript:;">分词</a></div>
        <div class="cate-art"><a href="javascript:;">消息队列</a></div>
        <div class="cate-art"><a href="javascript:;">git</a></div>
    </div>
    <div class="side-info side-default side-im">
        <div class="im-login im-default <{if !empty($data['imUser'])}>hide<{/if}>" >
            <p><label>username&nbsp;</label><input type="text" name="username" placeholder="your username" /></p>
            <p><label>password&nbsp;</label>
                <input type="password" name="password" placeholder="your password"/>
            </p>
            <p><button id="do-login">sign in</button></p>
            <p><label>no account yet ？</label><a href="javascript:;" id="register" >sing up</a></p>
        </div>
        <div class="im-login im-register">
            <p>
                <label>用户名&nbsp;</label>
                <input type="text" name="username" id="reg-username" placeholder="your username" />
            </p>
            <p><label>密码&nbsp;&nbsp;&nbsp;</label>
                <input type="password" name="password" id="reg-pwd" placeholder="your password"/>
            </p>
            <p><button type="submit" id="do-register">注册</button></p>
        </div>
        <div class="im-chatroom <{if empty($data['imUser'])}>hide<{/if}>">
            <div class="im-msgbox">
                <div class="clear"></div>
                <div class="msg-list">
                    <p>
                        <span class="im-user">螃蟹在晨跑</span>
                        <span class="im-content">欢迎来到螃蟹的城堡</span>
                    </p>
                </div>
            </div>
            <div class="user-list">
                <div class="top backtochat">返回</div>
                <ul></ul>
            </div>
            <div class="send">
                <p>
                    <span class="im-menu ol-list">在线用户</span>
                    <span class="im-menu">表情</span>
                    <span>
                        <select name="select-user">
                            <option value="0">所有人</option>
                        </select>
                    </span>
                    <span class="im-menu" id="offline">下线</span>
                </p>
                <p>
                    <input type="text" name="send" class="sendbox" />
                    <input type="hidden" name="need-login" value="1" />
                </p>
                <div  class="send-btn"> send</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var userInfo = {
    uid : "<{$data['imUser']['uid']}>",
    username : "<{$data['imUser']['username']}>",
    token : "<{$data['imUser']['token']}>",
    avatar : "<{$data['imUser']['avatar']}>",
    init : 0
}

var ws = new WebSocket('ws://192.168.253.9:8888');

$(function() {
    $(".left-opt").click(function () {
        var id = $(this).attr("id");
        var active = $(".side-info").filter(".active");
        active.slideUp();
        active.removeClass("active");
        active.addClass("side-default");
        $("." + id).addClass("active");
        if (id == 'side-weibo') {
            if ($("." + id).attr("data-flag") == "0") {
                $("." + id).attr("data-flag", "1");
                var url = "/index.php/index/index/weiboshow"
                $.get(url, function (data) {
                    $("." + id).html(data);
                    $("." + id).slideDown();
                });
            } else {
                $("." + id).slideDown();
            }
        } else {
            $("." + id).slideDown();
        }
        var num = Math.ceil(Math.random() * 15);
        $('.sidebar').css({background: "url(/app/static/images/site/" + num + ".jpg) no-repeat"});
    });

    $('.nav-weibo').click(function () {
        var html = $(".side-weibo").html();
        var url = "/index.php/index/index/weiboshow";
        $.get(url, function (data) {
            $('.side-weibo').html(data).show();
        })
    });

    $("#register").click(function () {
        $(".im-default").fadeOut('slow');
        $(".im-register").fadeIn("slow");
    });

    $(".ol-list").click(function () {
        $(".im-msgbox").hide();
        $(".user-list").show();
    });

    $(".backtochat").click(function () {
        $(".user-list").hide();
        $(".im-msgbox").show();
    });

    $("#do-login").click(function () {
        var username = $("input[name=username]").val();
        var password = $("input[name=password]").val();
        var url = "/index.php/index/index/imUserLogin";
        $.ajax({
            url: url,
            type: "get",
            data: {username: username, password: password},
            async: false,
            success: function (data) {
                var jdata = JSON.parse(data);
                if (jdata.status) {
                    $(".im-default").hide();
                    $(".im-chatroom").show();
                    userInfo.uid = jdata.data.uid;
                    userInfo.username = jdata.data.username;
                    userInfo.token = jdata.data.token;
                    userInfo.avatar = jdata.data.avatar;
                    if(chat.socket.CLOSED == 3){
                        ws = new WebSocket('ws://192.168.253.9:8888');
                        chat.socket = ws;
                    }
                    chat.online(jdata.data.username);

                }
            }
        });
    });

    $("#do-register").click(function () {
        var username = $("#reg-username").val();
        var password = $("#reg-pwd").val();
        var url = "/index.php/index/index/checkImUserRegister"
        if (!username || !password) {
            alert("请填写正确的用户名和密码")
        } else {
            $.ajax({
                url: url,
                type: 'get',
                data: {username: username, password: password},
                async: false,
                success: function (data) {
                    var jdata = JSON.parse(data);
                    if (jdata.status) {
                        $(".im-default").hide();
                        $(".im-chatroom").show();
                        userInfo.uid = jdata.data.uid;
                        userInfo.username = jdata.data.username;
                        userInfo.token = jdata.data.token;
                        if(chat.socket.CLOSED == 3){
                            ws = new WebSocket('ws://192.168.253.9:8888');
                            chat.socket = ws;
                        }
                        chat.online(jdata.data.username);
                    }
                }
            });
        }
    });

    $("#offline").click(function () {
        var url = "/index.php/index/index/offline";
        $.ajax({
            url: url,
            type: "get",
            success: function (data) {
                var jdata = JSON.parse(data);
                if (jdata.status) {
                   chat.offline(userInfo.uid);
                    $(".im-chatroom").hide();
                    $(".im-default").show();
//                    location.reload();
                } else {
                    alert("下线失败");
                }
            }
        });
        //下线清除用户信息
        userInfo = {};
    });

    /*
    * 发送消息
    * */
    $(".send-btn").click(function(){
        var to_uid = $("select[name=select-user]").val();
        var content = $(".sendbox").val();
        if(content){
            chat.talk(to_uid, content);
            $(".sendbox").val('');
            var msg_list =  $(".msg-list");
            if(to_uid != 0){
                var html = "<p><span class='im-user'>" + userInfo.username + "</span>";
                html += '<span class="im-content">';
                html += '@<span class="im-user">' + to_uid + '</span>&nbsp;'
                html += content + "</span>";
                html += "</p>";
                msg_list.append(html);
            }
            msg_list.scrollTop(-0);
        }

    });

    var chat = {
        socket: ws,
        online: function (username) {
            var jsonObj = {
                active: "online",
                uid: username,
                type: 0,
                to_user: 0,
                message: "上线了~!"
            };
            var jsonStr = $.toJSON(jsonObj);
            console.log(jsonStr);
            this.socket.send(jsonStr);
        },
        talk:function(to_username, msg) {
            var json = {
                active: "chat",
                uid: userInfo.username,
                to_uid: to_username,
                type : 1,
                message: msg
            };
            console.log(JSON.stringify(json));
            this.socket.send(JSON.stringify(json));
        },
        offline: function () {
           /* var json = {
                active: "offline",
                uid: userInfo.username,
                to_uid: 0,
                type : 1,
                message: "下线了"
            };
            console.log(JSON.stringify(json));
            this.socket.send(JSON.stringify(json));*/
            this.socket.close(1000, 'offline');
        },

        sendGroup: function () {
        }
    }

    chat.socket.onerror = function (event) {
        console.log("websocket error" + event);
    }

    chat.socket.onclose = function () {
        userInfo= {};
        $("input[name=need-login]").val("1");
        chat.socket.close(1000, 'user offline');
        console.log(chat.socket);
        console.log("websocket close");
    }

    chat.socket.onmessage = function (event) {
        var data = event.data;
        console.log(data);
        var jdata = eval('(' + data + ')');
        if (jdata.active == 'online') {
            var onlineList = '<option value="0">所有人</option>';
            var users = jdata.userList;
            if( typeof(users) == 'object'){
                for(var i in users){
                    onlineList += "<option value='" + i + "'>";
                    onlineList += i + '</option>';
                }
            }
            $("select[name=select-user]").empty().append(onlineList);

            var html = "<p>";
            html += "<span class='im-user'>" + jdata.uid + "</span>";
            html += '<span class="im-content">' + jdata.message + "</span>";
            html += "</p>";
            $(".msg-list").append(html);
        } else if (jdata.active == 'chat') {
            var html =  "<p>";
            html += "<span class='im-user'>" + jdata.uid + "</span>";
            html += '<span class="im-content">';
            if (jdata.to_uid != 0)
                html += '@<span class="im-user">' + jdata.to_uid + '</span>&nbsp;'
            html += jdata.message + "</span></p>";
            $(".msg-list").append(html);
        } else if(jdata.active == 'offline'){
            var html = '<p>';
            html += "<span class='im-user'>" + jdata.uid + "</span>";
            html += '<span class="im-content">';
            html += jdata.message + "</span></p>";
            $(".msg-list").append(html);
            $("select[name=select-user] option[value=" +jdata.uid +']').remove();
        }
    }

    //初始化用户信息
    var needlogin = $("input[name=need-login]").val();
    if (Number(needlogin) == 1) {
        console.log("init" +  needlogin);
        chat.online(userInfo.username);
    }

});

</script>

<div class="crab-show"></div>
<div class="contentw">
	<{foreach $data['artList'] as $info}>
	<div class="context">
		<div class="avatar"><img src="/app/static/images/usericon/crab.jpg"/></div>
		<div class="more_h">
			<span class="icon">F</span><span1><{$info['title']}></span1>
			<span1 style="float:right"> <{$info['create_time']|date_format}></span1><span class="icon" style="float:right">É</span>
		</div>	
		<div class="textwrap">
			<p><{$info['content']|truncate:'800'}>
			<{if !empty($info['from'])}><p>[出自]<span><a href="<{$info['from']}>"><{$info['from']}></a></span></p><{/if}>
			</p>
		
			
		</div>
		<div class="more_f">
			<span class="icon">L</span><span1 ><{$info['author']}></span1>
			<a href="<{$data['baseUrl']}>/index/index/detail/id/<{$info['id']}>"><span class="icon">i</span><span1>阅读全文</span1></a>
			<a href="#"><span class="icon">J</span><span1>点击: <{$info['click_num']}> </span1></a>
			<a href="#"><span class="icon">[</span><span1>评论 (<{$info['comment_num']}>)</span1></a>
			
			<{if isset($info['tags'])}>
			<a href="<{$data['baseUrl']}>/index/index/taglist/tag/<{$info['tags']}>">
				<span class="icon">y</span><span1>标签：</span1>
				<{$info['tags']}>
			</a>
			<{/if}>
		
		</div>
	</div>
	<{/foreach}>
	
</div>
<{if $data['pageCount'] > 1}><div class="pager"><{$data['pageHtml']}></div><{/if}>
<{include 'Common/footer.html'}>

</body>
</html>


