<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>螃蟹快跑</title>
	<meta name="description" content="<{$result['attr']['word']}>">
	<meta content="<{$result['attr']['word']}>" name="keywords" />
	<script src="/app/js/jquery-1.10.2.js"></script>
	<link href="/app/static/assets/raphaelicons.css" rel="stylesheet">
	<link href="/app/static/style/Home.css" rel="stylesheet"/>
	<link href="/app/static/style/common.css" rel="stylesheet" type="text/css">
	<script src="/app/static/js/jquery.js" type="text/javascript"></script>
    <style>
        strong{color:#e28b41}
    </style>
</head>
<body>
<{include 'Common/lmenu.html'}>
<div class="sidebar">
	<div class="searchbar">
        <{foreach $result['attr']['info'] as $key=>$val}>
		<h4>关键词&nbsp;：&nbsp;（<{$key}>）</h4>
        <p>命中次数(<{$val['hits']}>)</p>
        <{/foreach}>
		<p>相关文章数（<{$result['attr']['total']}>）</p>

		<p>花费时间：<{$result['attr']['time']}></p>
	</div>
</div>
<div class="contentw content-s">
	<div class="header"><span class="icon">;</span><span1><{$result['attr']['word']}>相关搜索列表</span1></div>
	
	<div class="vline"></div>
	<{foreach $result['list'] as $key=>$search}>
	<div class="context">
		<div class="avatar"><img src="/app/static/images/usericon/crab.jpg"/></div>
		<div class="more_h">
			<span class="icon">F</span><span1><{$search['title']}></span1>
			<span1 style="float:right"> <{$search['create_time']|date_format:"y-m-d"}></span1><span class="icon" style="float:right">É</span>
			
		</div>	
		<div class="textwrap">
			<p><{$search['content']}></p>
		</div>
		<div class="more">
		<span class="icon">L</span><span1 ><{$search['author']}></span1>
		
		<a href="<{$data['baseUrl']}>/index/index/detail/id/<{$search['id']}>">
			<span class="icon">J</span>
			<span1>阅读: <{$search['click_num']}></span1>
		</a>
		<a href="#"><span class="icon">[</span><span1>评论:<{$search['comment_num']}> </span1></a>
		<a href="#"><span class="icon">y</span><span1>标签：<{$search['tags']}></span1></a>
		</div>	
	</div>
	<{/foreach}>
</div>
<{include 'Common/footer.html'}>
</body>
</html>